<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%highlight{%-5level}] %c [%M:%L]: %m%n" />
        </Console>
        <File name="fileAppender" fileName="logs/app.log">
            <PatternLayout >
                <Pattern>[%highlight{%-5level}] %c [%M:%L]: %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileAppender" />
        </Root>
    </Loggers>
</Configuration>